@keyframes gradient-animation {
    0% {
        background: linear-gradient(0deg, #19a385, #34ae87, #50b98a, #6bc38c, #87ce8f, #a2d991, #bde493, #d9ee96, #f4f998, #eada93, #e1bb8d, #d79c88, #ce7d83, #c45d7d, #ba3e78, #b11f72, #a7006d);
    }

    25% {
        background: linear-gradient(90deg, #19a385, #34ae87, #50b98a, #6bc38c, #87ce8f, #a2d991, #bde493, #d9ee96, #f4f998, #eada93, #e1bb8d, #d79c88, #ce7d83, #c45d7d, #ba3e78, #b11f72, #a7006d);
    }

    50% {
        background: linear-gradient(180deg, #19a385, #34ae87, #50b98a, #6bc38c, #87ce8f, #a2d991, #bde493, #d9ee96, #f4f998, #eada93, #e1bb8d, #d79c88, #ce7d83, #c45d7d, #ba3e78, #b11f72, #a7006d);
    }

    75% {
        background: linear-gradient(270deg, #19a385, #34ae87, #50b98a, #6bc38c, #87ce8f, #a2d991, #bde493, #d9ee96, #f4f998, #eada93, #e1bb8d, #d79c88, #ce7d83, #c45d7d, #ba3e78, #b11f72, #a7006d);
    }

    100% {
        background: linear-gradient(360deg, #19a385, #34ae87, #50b98a, #6bc38c, #87ce8f, #a2d991, #bde493, #d9ee96, #f4f998, #eada93, #e1bb8d, #d79c88, #ce7d83, #c45d7d, #ba3e78, #b11f72, #a7006d);
    }
}

.animated-gradient {
    animation: gradient-animation 9.5s linear infinite;
}